body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: rgb(8,0,153);
    background: linear-gradient(90deg, rgba(8,0,153,1) 0%, rgba(37,37,131,1) 48%, rgba(22,30,107,1) 100%);
    color: white;
    overflow-x: hidden;
}

header {
    background-color: #262F8A;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    padding-top: 6rem; /* Adjust for fixed header */
    padding-left: 1rem;
    padding-right: 1rem;
}

.terms-container, .privacy-container {
    max-width: 800px;
    margin: 6rem auto 2rem; /* Adjust for fixed header */
    padding: 1rem;
    background-color: white;
    color: black;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

.app-icon {
    width: 150px;
    height: 150px;
}

p {
    text-align: left;
    line-height: 1.6;
}

h1, h3 {
    text-align: center;
}

.features {
    margin-bottom: 30px; /* Increased margin bottom for more spacing */
}

.features p {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px; /* Adjusted margin bottom for paragraph */
}

.feature-item {
    margin-left: 20px; /* Adjust margin as needed */
    margin-bottom: 10px; /* Increased margin bottom for more spacing */
}

.appstore-link {
    display: block;
    margin: 2rem 0;
    color: white;
    text-decoration: none;
    background-color: #0073e6;
    padding: 1rem 2rem;
    border-radius: 5px;
}

.appstore-link:hover {
    background-color: #005bb5;
}
